body, html {
  height: 100%;  
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: radial-gradient(circle, #ffffff, #aaaaaa);
}
canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
}
h1 {
  font-size: 50px;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-top: 10%;
}
p {
  font-size: 30px;
  text-align: center;
  width: 50%;
  margin: 1em auto 0;
}


.collection {
  position: fixed;
  z-index: 1000;
  width: auto;
  bottom: 0;
  right: 0;
  margin: 15px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.collection a {
  display: inline-block;
  background: #fff;
  opacity: 0.4;
  transition: opacity 0.7s;
  margin-left: 5px;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}

.collection a:hover {
  opacity: 1;
}
